<div id="back">
<h1 class="mainn">Web<span class="se">Dairy</span></h1>
<div class="info text-center">
    hello
    <div class="content">
        It's not just a normal diary app.You can feed unlimited words , no page limits , undestroyable.
        These are the main attractions of webDiary . Your privacy is our main concern,everything safe here,
        Your diary can only accessed by youself. It is easy to use and you can feed your day anywhere and anytime.
    </div><br>
    <button class="btn btn-outline-secondary" routerLink="/event" ><strong>Go Back</strong></button>
</div>
</div>