<!-- <input type="checkbox" id="check1"> -->

<section id="main">
    <div class="center-div">
        <div class="container">
            <div class="head-reg">
                <h2>Create Account</h2>
            </div>
           
            <form  [formGroup]="loginForm">
                
                <div class="inp mb-2">
                    <i class="bi bi-envelope"></i>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>
                <div class="inp mb-2">
                    <i class="bi bi-shield-lock"></i>
                    <input type="password" placeholder="Passwod" formControlName="password">
                </div>
                <div class="sign-btn mt-4">
                    <button class="" (click)="login()"><strong>SIGN IN</strong></button>
                </div>
            </form>
        </div>
        <div class="container reg-side">
            <h2 class="text-center">Welcome Back</h2>
            <p class="text-center">Your days are wide so mark this wonderful day </p>
            <div class="  text-center mt-4">
                <button class="side-btn " routerLink="/register"><strong><label for="check1">SIGN UP</label></strong></button>
            </div>
        </div>
    </div>
</section>



